{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section 2",
        href: "#"
      },
      {
        text: "Subsection 3"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Edinburgh Live Services</span>
    <h1 class="govuk-heading-xl">
      {{ data["section"] }}
    </h1>

    <p>An interaction designer on the Edinburgh Live Services team, currently based in Newcastle. My passion lies in creating intuitive and engaging user experience that make a real difference in people's lives.</p>

    <p>You can use this service to</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Tell me about yourself</li>
        
      </ul>


      {{ govukButton({
        text: "Start now",
        href: "team",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You can also <a href="#">learn more about me </a>
      </p>

      <p>
        You can reach out to me via <a href="#">Slack</a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
