{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
Do you have another job?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="anotherjob" name="anotherjob" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="anotherjob">
          Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="anotherjob2" name="anotherjob" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="anotherjob2">
          No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    

  </div>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}

{% endblock %}
