{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      <!-- {{ serviceName }} -->
       UCD Dalas Community
    </h1>

    <!-- your area -->

    <h1 class="govuk-heading-m">
     Designers
    </h1>
    <p class="govuk-body"> 
     <a href="/megan/intro?section=Megan Burnett" class="govuk-link">Megan</a>
    </p>

    <p class="govuk-body"> 
      <a href="/lyndsey/intro?section=Lyndsey Child" class="govuk-link">Lyndsey</a>
     </p>

     <p class="govuk-body"> 
      <a href="/nicole/intro?section=Nicole Lee" class="govuk-link">Nicole</a>
     </p>

     <p class="govuk-body"> 
      <a href="/andrew/intro?section=Andrew Bridgett" class="govuk-link">Andrew</a>
     </p>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
